{% extends 'base.html' %}
			{% block title %}
		EDIT UR PROFILE
			{% endblock %}
	{% block content %}

{% if user.is_authenticated %}
{% if user.id == profile.user.id%}
			<h1> EDIT UR PROFILE</h1>
		<br><br>
		<div class="form-group">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				
				{{ form.as_p }}
				<br>
				<button class="btn btn-secondary">PLEASE UPDATE MY PROFILE</button>
			</form>
		</div>


		{% else %}
		 PLEASE LOG IN
		 
{% endif %}
		 
{% else %}
		  
login pls
{% endif%}
{% endblock %}
	
</body>
</html>